 <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">

                    <img src="/images/logo.png"/>
                </a>

            </div>

        </div>
    </div>
    <!-- LOGO HEADER END-->

    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">Sign In</h4>

                </div>

            </div>
            <div class="row">
               
                   <div class="container" style="width:50%;">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                SINGUP FORM
                            </div>
                            <div class="panel-body">
                                <form action="/dang-nhap" method="post" role="form signin">

                                    <div class="form-group">
                                        <label>Enter Email</label>
                                        <input class="form-control" type="text" name="username" />
                                        <p class="help-block">Help text here.</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Enter Password</label>
                                        <input class="form-control" type="password" name="password" />
                                        <p class="help-block">Help text here.</p>
                                    </div>

                                    <button  type="submit" class="btn btn-danger">Login </button>
                                  
                                </form>
                            </div>
                        </div>
                    
                </div>
                <!--/.ROW-->
                 </div>
            </div>

            {{!-- <section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="min-height: 100vh; background-size: cover; background-image: url(https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=c0d43804e2c7c93143fe8ff65398c8e9);">
        <div class="container-fluid">
          <div class="row  justify-content-center align-items-center d-flex-row text-center h-100">
            <div class="col-12 col-md-4 col-lg-3   h-50 ">
              <div class="card shadow">
                <div class="card-body mx-auto">
                  <h4 class="card-title mt-3 text-center">Create Account</h4>
                  <p class="text-center">Get started with your free account</p>
                  <p>
                    <a href="" class="btn btn-block btn-info">
                      <i class="fab fa-twitter mr-2"></i>Login via Twitter</a>
                    <a href="" class="btn btn-block btn-primary">
                      <i class="fab fa-facebook-f mr-2"></i>Login via facebook</a>
                  </p>
                  <p class="text-muted font-weight-bold ">
                    <span>OR</span>
                  </p>
                  <form>
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                      </div>
                      <input name="" class="form-control" placeholder="Full name" type="text">
                    </div>
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                      </div>
                      <input name="" class="form-control" placeholder="Email address" type="email">
                    </div>
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                      </div>
                      <input class="form-control" placeholder="Create password" type="password">
                    </div>
                    <div class="form-group input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                      </div>
                      <input class="form-control" placeholder="Repeat password" type="password">
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block"> Create Account </button>
                    </div>
                    <p class="text-center">Have an account?
                      <a href="">Log In</a>
</p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
     </section> --}}